# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Environment Variables
.env
.env*.local

frontend/.env
backend/client_secret.json


